{% extends 'base.html' %}

{% block title %}Sign-in{% endblock %}

{% block content %}
  <h1>Sing-in</h1>

  {% if forms.errors %}
    <p>
      Your username and password didn't match.
      Please try again.
    </p>
  {% else %}
  <p>Please, use the following form to Sign in. If you do not have
     an account yet, <a href="{% url 'register' %}">register here</a></p>
  {% endif %}

  <div class='login-form'>
    <form action="{% url 'login' %}" method="post">
      {{ form.as_table }}
      {% csrf_token %}
      <input type='hidden' name='next' value='{{ next }}'/>
      <p><input type="submit" value='Sign in'></p>
      <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </form>
  </div>
{% endblock %}
